services:
  backend:
    build: ../backend
    ports:
      - "3000:3000"
    volumes:
      - ../backend:/app         # bind mount de todo el backend
      - /app/node_modules       # evita sobrescribir node_modules del contenedor
    environment:
      - NODE_ENV=development
  frontend:
    build:
      context: ../frontend
    ports:
      - "5173:80"
    depends_on:
      - backend
  ollama:
    image: ollama/ollama
    ports:
      - "11434:11434"
    deploy:
      resources:
        reservations:
          devices:
            - capabilities: [gpu]
    environment:
      - OLLAMA_LOW_VRAM_THRESHOLD=6GiB
    volumes:
      - ollama-data:/root/.ollama
    entrypoint: >
      sh -c "ollama serve & sleep 5 && ollama pull codellama:7b && wait"  
volumes:
  ollama-data:
